* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	margin-top: -3rem;
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
	margin-top: -1rem;
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
	margin-bottom: 18px;
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}

.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}
p{
	    margin-bottom: 0;
}
/* about */
.main-article_aboutparagraph
{
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
}
.main-article__aboutheader
{
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
}

/* nav */
.nav-link
{
    color: #FFF;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.nav-link:hover{
  color: #1CEFBC;
}
.navbar
{
	z-index: 1;
	background-color:transparent;
}

.imgbox{
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
  }
  .imgbox img{
	position: relative;
		left: 40px;
	animation: animateUser 4s linear infinite;
	overflow-x: hidden;
	overflow-y: hidden;
  }
  @keyframes animateUser{
	50%{
		left: 10px;
		/* top: -1px; */
	}
  }


  /* team */

  /* ==================
      BASIC STYLES
  ===================*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:link, a:hover, a:focus, a:active {
	text-decoration: none;
}


/* =====================
    TEAM STYLES
======================= */


#teamimg {
	max-width: 100%;
	height: 480px
}
.main-article__teamheader
{
	text-align: start;
	font-weight: bolder;
}
#teamline
{
	border-bottom: 4px solid #00bfe7;
	width: 100px;
}
#team-section {
    overflow: hidden;
    padding: 10px 0;
}

#team-section .col-md-4 {
    overflow: hidden;
}

.single-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    transition: all .4s ease;
    transform: scale(.8);
}

.single-team .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(103, 58, 181,.3);
    cursor: pointer;
}

.social-team {
    position: absolute;
    top: -50px;
    right: -9999px;
    padding: 5px 15px;
    transition: all .4s ease;
}

.social-team ul li {
    display: inline-block;
}

.social-team ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #673AB7;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-right: 5px;
}

.single-team:hover .social-team {
    right: -59px;
}


.intro-team {
    display: block;
    position: absolute;
    bottom: -55px;
    left: -9999px;
    transition: all .4s ease;
	width: 300px;
}

.single-team:hover .intro-team {
    left: -36px;
}

.intro-team h4 {
    font-size: 20px;
    line-height: 18px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
}

.intro-team span {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 10px;
}

.single-team:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03A9F4;
    transform: translate(5px, -5px);
    z-index: -2;
    transition: all .4s ease;
}

.single-team:hover:before {
    transform: translate(60px, -60px);
}

.single-team:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-5px, 5px);
    background: #673AB7;
    z-index: -1;
    transition: all .4s ease;
}

.single-team:hover:after {
    transform: translate(-60px, 60px);
}

.button {
	cursor: pointer;
	position: relative;
	padding: 15px 20px;
	text-decoration: none;
	border: none;
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: sans-serif;
	letter-spacing: 4px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  .button:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;

  }
  .button::after {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
	  90deg,
	  transparent,
	  rgba(255, 255, 255, 0.4),
	  transparent
	);
	transition: 0.5s;
	transition-delay: 0.5s;
  }
  .button:hover:after {
	left: 100%;
  }
  .button span {
	position: absolute;
	display: block;
	transition: 0.5s ease;
  }
  .button span:nth-child(1) {
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #fff;
  }
  .button:hover span:nth-child(1) {
	width: 100%;
	transform: translateX(100%);
  }
  .button span:nth-child(2) {
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background: #fff;
  }
  .button:hover span:nth-child(2) {
	height: 100%;
	transform: translateY(100%);
  }
  .button span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: #fff;
  }
  .button:hover span:nth-child(3) {
	width: 100%;
	transform: translateX(-100%);
  }
  .button span:nth-child(4) {
	bottom: 0;
	right: 0;
	width: 1px;
	height: 0;
	background: #fff;
  }
  .button:hover span:nth-child(4) {
	height: 100%;
	transform: translateY(-100%);
  }
  